@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/hkgrotesk-bold.woff2") format("woff2"), url("../assets/fonts/hkgrotesk-bold.woff") format("woff"), url("../assets/fonts/hkgrotesk-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/hkgrotesk-light.woff2") format("woff2"), url("../assets/fonts/hkgrotesk-light.woff") format("woff"), url("../assets/fonts/hkgrotesk-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/hkgrotesk-regular.woff2") format("woff2"), url("../assets/fonts/hkgrotesk-regular.woff") format("woff"), url("../assets/fonts/hkgrotesk-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: "HKGrotesk"; }

body {
  margin: 0; }

a:link {
  text-decoration: none; }

button {
  outline: 0;
  cursor: pointer;
  font-family: "HKGrotesk"; }

.container {
  margin: 0 auto;
  width: 1110px; }
  @media (max-width: 1280px) {
    .container {
      width: 900px; } }
  @media (max-width: 992px) {
    .container {
      width: 640px; } }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }

.top-banner {
  min-height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background: url("/assets/img/header-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative; }

.top-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .menu {
      margin-top: 1rem; } }

.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo__txt {
  color: rgba(255, 255, 255, 0.35);
  padding-left: 1.1rem;
  font-size: 0.9rem; }
  @media (max-width: 768px) {
    .logo__txt {
      display: none; } }

.menu__contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: 1s; }
  @media (max-width: 768px) {
    .menu__contact-btn {
      display: none; } }
  .menu__contact-btn:hover {
    background-color: #7b59ff;
    color: #fff; }

.top-banner__header-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .top-banner__header-line h1 {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 1px; }
    @media (max-width: 992px) {
      .top-banner__header-line h1 {
        font-size: 2.5rem; } }
    @media (max-width: 768px) {
      .top-banner__header-line h1 {
        font-size: 1.9rem; } }
  .top-banner__header-line .top-banner__arrow {
    background-color: transparent;
    border: none; }
    @media (max-width: 768px) {
      .top-banner__header-line .top-banner__arrow {
        display: none; } }

.js_slider {
  position: relative; }

.frame {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap; }

.slides {
  display: inline-block; }

li {
  position: relative;
  display: inline-block; }
  li img {
    width: 250px;
    height: auto; }

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer; }

.next {
  right: 0; }

.prev {
  left: 0; }

.next svg, .prev svg {
  width: 25px; }

.contact-us__banner-bg {
  font-weight: bold;
  background-image: radial-gradient(circle, #886aff 0%, #6949e3 100%); }

.contact-us__container {
  position: relative;
  text-align: center; }

.contact-us__txt {
  display: block;
  padding: 6rem 2rem;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  font-weight: bold; }

.contact-us__btn {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #fff;
  font-weight: bold;
  box-shadow: 0 1.875rem 3.75rem -1.25rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem 2.75rem;
  cursor: pointer;
  transition: 1s; }
  .contact-us__btn:hover {
    background-color: #322e46; }
    .contact-us__btn:hover span {
      color: #fff; }
      .contact-us__btn:hover span:before {
        border-bottom-color: #fff; }
      .contact-us__btn:hover span:after {
        border-color: transparent #fff; }
  .contact-us__btn span {
    color: #322e46;
    padding-right: 1.25rem;
    white-space: nowrap;
    position: relative;
    transition: 1s; }
    .contact-us__btn span:before, .contact-us__btn span:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      transition: 1s; }
    .contact-us__btn span:before {
      border-bottom: solid;
      border-bottom-width: 1px;
      width: 0.625rem;
      right: 0.25rem;
      border-color: #322e46; }
    .contact-us__btn span:after {
      border-color: transparent #322e46;
      border-width: 0.25rem 0 0.25rem 0.25rem;
      right: 0;
      border-style: solid; }

.footer-links {
  padding-top: 3rem;
  background-color: #f7f7f8;
  overflow-x: hidden; }

.footer-links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .footer-links__container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.footer-links__left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 460px) {
    .footer-links__left-container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.footer-links__header {
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0; }

.footer-links__list-container {
  padding: 2rem 8rem 2rem 2rem; }
  @media (max-width: 992px) {
    .footer-links__list-container {
      padding-right: 0; } }
  @media (max-width: 768px) {
    .footer-links__list-container {
      padding-right: 2rem;
      text-align: center; } }
  @media (max-width: 460px) {
    .footer-links__list-container {
      width: 100%; } }

.footer-links__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .footer-links__list li {
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5px; }
  .footer-links__list a {
    color: #150940;
    opacity: 0.3;
    transition: 1s; }
    .footer-links__list a:hover {
      color: #7b59ff;
      opacity: 1; }

.footer-links__right-container {
  position: relative;
  padding-right: 3rem;
  text-align: right; }
  @media (max-width: 768px) {
    .footer-links__right-container {
      width: 100%;
      text-align: center; } }

.footer-links__socials {
  list-style: none;
  margin: 0;
  padding: 1.5rem 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: -1rem; }
  @media (max-width: 768px) {
    .footer-links__socials {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      right: 0; } }
  .footer-links__socials a {
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer-links__socials a:hover path {
      fill: #7b59ff; }
  .footer-links__socials path {
    transition: 1s; }

.footer-links__social-underline {
  position: absolute;
  top: 5.5rem;
  left: 3.5rem;
  height: 1px;
  background-color: #150940;
  opacity: 0.1;
  border: none;
  width: 50vw; }
  @media (max-width: 768px) {
    .footer-links__social-underline {
      width: 100%;
      left: 0; } }

.footer-links__address span, .footer-links__address a {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  color: #150940;
  opacity: 0.2;
  font-style: normal;
  white-space: nowrap; }

.footer-links__address p:first-of-type {
  margin-top: 0; }

.footer-links__address p:last-of-type {
  margin-bottom: 0; }

.footer-links__address .address__mail {
  transition: 1s; }
  .footer-links__address .address__mail:hover {
    color: #7b59ff;
    opacity: 0.5; }

.footer-links__copyrights {
  font-weight: bold;
  color: #150940;
  opacity: 0.2;
  font-size: 0.7rem;
  padding-top: 1rem;
  margin: 0;
  white-space: nowrap; }
