@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/hkgrotesk-bold.woff2") format("woff2"), url("../assets/fonts/hkgrotesk-bold.woff") format("woff"), url("../assets/fonts/hkgrotesk-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/hkgrotesk-light.woff2") format("woff2"), url("../assets/fonts/hkgrotesk-light.woff") format("woff"), url("../assets/fonts/hkgrotesk-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/hkgrotesk-regular.woff2") format("woff2"), url("../assets/fonts/hkgrotesk-regular.woff") format("woff"), url("../assets/fonts/hkgrotesk-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0; }

html {
  font: 16px "HKGrotesk"; }

body {
  margin: 0; }

* {
  box-sizing: border-box; }

a:link {
  text-decoration: none; }

button {
  outline: 0;
  cursor: pointer;
  font-family: "HKGrotesk"; }

.container {
  margin: 0 auto;
  width: 1110px; }
  @media (max-width: 1280px) {
    .container {
      width: 900px; } }
  @media (max-width: 992px) {
    .container {
      width: 640px; } }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }

.top-banner {
  min-height: 45vh;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background: url("../assets/img/header-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative; }

.top-banner__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.menu {
  margin-top: 1.6rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 768px) {
    .menu {
      margin-top: 1rem; } }

.logo__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.logo__txt {
  color: rgba(255, 255, 255, 0.35);
  padding-left: 1.1rem;
  font-size: 0.9rem; }
  @media (max-width: 768px) {
    .logo__txt {
      display: none; } }

.menu__contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: 1s; }
  @media (max-width: 768px) {
    .menu__contact-btn {
      display: none; } }
  .menu__contact-btn:hover {
    background-color: #7b59ff;
    color: #fff; }

.top-banner__header-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .top-banner__header-line h1 {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 1px; }
    @media (max-width: 992px) {
      .top-banner__header-line h1 {
        font-size: 2.5rem; } }
    @media (max-width: 768px) {
      .top-banner__header-line h1 {
        font-size: 1.9rem; } }
  .top-banner__header-line .top-banner__arrow {
    background-color: transparent;
    border: none;
    transition: 0.66s ease-in-out; }
    .top-banner__header-line .top-banner__arrow:hover {
      transform: translateY(1rem); }
    @media (max-width: 768px) {
      .top-banner__header-line .top-banner__arrow {
        display: none; } }

.intro__container {
  padding-top: 4rem;
  text-align: center; }

.intro__header {
  color: #150940;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 1px;
  line-height: 3rem;
  margin: 0; }

.separator {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 2.5rem 0; }
  .separator > * {
    border-bottom-width: 2px;
    border-bottom-style: solid; }

.separator__purple-line {
  border-bottom-color: #7b59ff;
  width: 1.375rem;
  margin-right: 0.375rem; }

.separator__pink-line {
  border-bottom-color: #f777d6;
  width: 0.625rem;
  margin-right: 1.125rem; }

.separator__blue-line {
  border-bottom-color: #55d7ff;
  width: 2.375rem;
  height: 2px; }

.intro__txt {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4rem;
  color: #150940;
  opacity: 0.7;
  line-height: 1.75rem; }

.tabs__nav {
  list-style: none;
  padding: 0 15%;
  display: -ms-flexbox;
  display: flex; }

.tabs-nav__button {
  border: none;
  padding: 0;
  margin-right: 3.75rem;
  color: #150940;
  opacity: 0.3;
  font-weight: bold;
  padding-bottom: 1.75rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-size: 1rem;
  transition: .5s; }
  .tabs-nav__button:hover {
    opacity: 1; }
  .tabs-nav__button.active {
    opacity: 1;
    border-bottom-color: #150940; }

.tabs__content {
  list-style: none;
  padding: 0 0 3rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-sizing: content-box;
  transition: .5s; }

.tabs-content__bg {
  background-color: #efeff3; }

.tabs-content__item {
  width: calc(50% - 1rem);
  margin-top: 2rem;
  transition: 0.5s;
  animation: showScale .5s; }
  @media (max-width: 768px) {
    .tabs-content__item {
      width: 100%; } }
  .tabs-content__item:hover:before {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); }
  .tabs-content__item:hover:after {
    width: 100%; }
  .tabs-content__item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 5rem;
    box-shadow: 0 0.625rem 5rem rgba(0, 0, 0, 0.1);
    transition: .5s; }
  .tabs-content__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    border-top: 2px solid #55d7ff;
    transition: 1s; }
  .tabs-content__item[data-category="bh"]:after {
    border-top-color: #f777d6; }
  .tabs-content__item a {
    height: 100%;
    display: block;
    background: #fff;
    position: relative;
    padding: 3rem; }
    .tabs-content__item a:before, .tabs-content__item a:after {
      content: '';
      position: absolute;
      bottom: 2.75rem;
      transform: translateY(50%) translateZ(0);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      opacity: 0.3;
      transition: .5s; }
    .tabs-content__item a:before {
      width: 1rem;
      border-bottom: solid;
      border-bottom-width: 1px;
      right: 2.75rem;
      border-color: #150940; }
    .tabs-content__item a:after {
      right: 2.5rem;
      border-style: solid;
      border-width: 0.25rem 0 0.25rem 0.25rem;
      border-color: transparent #150940; }
    .tabs-content__item a:hover:before, .tabs-content__item a:hover:after {
      opacity: 0.7; }
    .tabs-content__item a:hover:before {
      right: 2rem; }
    .tabs-content__item a:hover:after {
      right: 1.75rem; }
  .tabs-content__item p {
    color: #625A7F;
    line-height: 1.75em;
    margin-bottom: 0; }

.tabs-content__header {
  color: #150940;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.21em;
  margin-top: 0; }

@keyframes showScale {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.contact-us__banner-bg {
  font-weight: bold;
  background-image: radial-gradient(circle, #886aff 0%, #6949e3 100%); }

.contact-us__container {
  position: relative;
  text-align: center; }

.contact-us__txt {
  display: block;
  padding: 6rem 2rem;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  font-weight: bold; }

.contact-us__btn {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  background-color: #fff;
  font-weight: bold;
  box-shadow: 0 1.875rem 3.75rem -1.25rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem 2.75rem;
  cursor: pointer;
  transition: 1s; }
  .contact-us__btn:hover {
    background-color: #322e46; }
    .contact-us__btn:hover span {
      color: #fff; }
      .contact-us__btn:hover span:before {
        border-bottom-color: #fff; }
      .contact-us__btn:hover span:after {
        border-color: transparent #fff; }
  .contact-us__btn span {
    color: #322e46;
    padding-right: 1.25rem;
    white-space: nowrap;
    position: relative;
    transition: 1s; }
    .contact-us__btn span:before, .contact-us__btn span:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 1s; }
    .contact-us__btn span:before {
      border-bottom: solid;
      border-bottom-width: 1px;
      width: 0.625rem;
      right: 0.25rem;
      border-color: #322e46; }
    .contact-us__btn span:after {
      border-color: transparent #322e46;
      border-width: 0.25rem 0 0.25rem 0.25rem;
      right: 0;
      border-style: solid; }

.footer-links {
  padding-top: 3rem;
  background-color: #f7f7f8;
  overflow-x: hidden; }

.footer-links__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 768px) {
    .footer-links__container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center; } }

.footer-links__left-container {
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 460px) {
    .footer-links__left-container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.footer-links__header {
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0; }

.footer-links__list-container {
  padding: 2rem 8rem 2rem 2rem; }
  @media (max-width: 992px) {
    .footer-links__list-container {
      padding-right: 0; } }
  @media (max-width: 768px) {
    .footer-links__list-container {
      padding-right: 2rem;
      text-align: center; } }
  @media (max-width: 460px) {
    .footer-links__list-container {
      width: 100%; } }

.footer-links__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .footer-links__list li {
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5px; }
  .footer-links__list a {
    color: #150940;
    opacity: 0.3;
    transition: 1s; }
    .footer-links__list a:hover {
      color: #7b59ff;
      opacity: 1; }

.footer-links__right-container {
  position: relative;
  padding-right: 3rem;
  text-align: right; }
  @media (max-width: 768px) {
    .footer-links__right-container {
      width: 100%;
      text-align: center; } }

.footer-links__socials {
  list-style: none;
  margin: 0;
  padding: 1.5rem 0 4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  position: relative;
  right: -1rem; }
  @media (max-width: 768px) {
    .footer-links__socials {
      -ms-flex-pack: center;
          justify-content: center;
      right: 0; } }
  .footer-links__socials a {
    width: 3rem;
    height: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .footer-links__socials a:hover path {
      fill: #7b59ff; }
  .footer-links__socials path {
    transition: 1s; }

.footer-links__social-underline {
  position: absolute;
  top: 5.5rem;
  left: 3.5rem;
  height: 1px;
  background-color: #150940;
  opacity: 0.1;
  border: none;
  width: 50vw; }
  @media (max-width: 768px) {
    .footer-links__social-underline {
      width: 100%;
      left: 0; } }

.footer-links__address span, .footer-links__address a {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  color: #150940;
  opacity: 0.2;
  font-style: normal;
  white-space: nowrap; }

.footer-links__address p:first-of-type {
  margin-top: 0; }

.footer-links__address p:last-of-type {
  margin-bottom: 0; }

.footer-links__address .address__mail {
  transition: 1s; }
  .footer-links__address .address__mail:hover {
    color: #7b59ff;
    opacity: 0.5; }

.footer-links__copyrights {
  font-weight: bold;
  color: #150940;
  opacity: 0.2;
  font-size: 0.7rem;
  padding-top: 1rem;
  margin: 0;
  white-space: nowrap; }
