{
  "root": true,
  "extends": [
    "brainhub"
  ],
  "env": {
    "jest":true
  },
  "rules": {

  },
  "globals": {

  },
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  }
}