// RWD beakpoints
$veryLargeScreen: '1600px';
$largeScreen: '1440px';
$bigScreen: '1280px';
$mediumScreen: '992px';
$smallScreen: '768px';
$extraSmallScreen: '460px';
$xXSmallScreen: '360px';

//colors
$colorBHMain: #7b59ff;
$white: #fff;


//global
$mainFontSize: 16px;
$mainFont: 'HKGrotesk';
