// RWD beakpoints
$veryLargeScreen: '1600px';
$largeScreen: '1440px';
$bigScreen: '1280px';
$mediumScreen: '992px';
$smallScreen: '768px';
$extraSmallScreen: '460px';
$xXSmallScreen: '360px';

//colors
$colorBHMain: #7b59ff;
$secondaryBtnHover: #322e46;
$colorBHBg: #150940;
$white: #fff;
$bgAlt1: #efeff3;
$bgAlt2: #f7f7f8;
$colorBHAlt1: #f777d6;
$colorBHAlt2: #55d7ff;


//global
$mainFontSize: 16px;
$mainFont: "HKGrotesk";
